body {
    background-color: white;
    }
    .columnred {
    height: 200px;
    background-color: red;
    }
    .columnblue {
    height: 200px;
    background-color: blue;
    }
    .columngreen {
    height: 200px;
    background-color: green;
    }

    /*Portfolio===============================*/
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
#portfolio-container .tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
#portfolio-container .tile:hover { 

}

#portfolio-container .scale-anm {
  transform: scale(1);
}


#portfolio-container p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

#portfolio-container p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

#portfolio-container .btn {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}



#portfolio-container .btn:hover {
  text-decoration: none;color:#fff;background-color:#FF1351;
}

#portfolio-container .btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}
/*Portfolio===============================*/


#portfolio-container .active {
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

#portfolio-container .active:active{
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

/*portfolio hover*/
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
   }
   .ch-grid:after,
   .ch-item:before {
    content: '';
    display: table;
   }
   .ch-grid:after {
    clear: both;
   }
   .ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 20px;
   }
   .ch-item {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
   }
   .ch-info-wrap, 
   .ch-info{
    position: absolute;
    width: 162px;
    height: 162px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
   }
   
   .ch-info-wrap {
    top: 20px;
    left: 20px;
    box-shadow: 
    0 0 0 20px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(115,114, 23, 0.8);
    
   }
   .ch-info {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
   }
   .ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
   }
   .ch-info .ch-info-front {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    
    z-index: 100;
    box-shadow: 
    inset 2px 1px 4px rgba(0,0,0,0.1);
   }
   .ch-info .ch-info-back {
    background: rgba(230,132,107,0);
   }
   
   .ch-img-1 { 
    background-image: url(http://bootstraptema.ru/snippets/block/2017/shutters/1.jpg);
   }
   
   .ch-img-2 { 
    background-image: url(http://bootstraptema.ru/snippets/block/2017/shutters/2.jpg);
   }
   
   .ch-img-3 { 
    background-image: url(http://bootstraptema.ru/snippets/block/2017/shutters/3.jpg);
   }
   .ch-img-4{ 
    background-image: url(http://bootstraptema.ru/snippets/block/2017/shutters/4.jpg);
   }
   .ch-info h4{
    font-family: 'Niconne-Regular';
    color: #DF1E1C;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0 18px;
    padding: 40px 0 0 0;
   }
   .ch-info p {
    color: #464646;
    line-height:1.8em;
    padding: 10px 5px;
    font-style: italic;
    font-size: 13px;
   }
   .ch-item:hover .ch-info-front {
    -webkit-transform: rotate3d(1,0,0,-180deg);
    -moz-transform: rotate3d(1,0,0,-180deg);
    -o-transform: rotate3d(1,0,0,-180deg);
    -ms-transform: rotate3d(1,0,0,-180deg);
    transform: rotate3d(1,0,0,-180deg);
    
    box-shadow: 
    inset 0 0 5px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(0,0,0,0.3);
   }
   .ch-item:hover .ch-info-back {
    background: #fff;
   }
   @media (max-width: 1024px){
    .ch-grid li {
    margin: 0 15px;
    }
   }
   @media (max-width: 991px){
    .ch-grid li:nth-child(4) {
    margin-top: 30px;
    }
   }
   @media (max-width: 800px){
    .ch-grid li:nth-child(4) {
    margin-top: 30px;
    }
   }
   @media (max-width: 640px){
    .ch-grid li:nth-child(4) ,.ch-grid li:nth-child(3) {
    margin-top: 30px;
    }
   }
   @media (max-width: 480px){
    .ch-grid li {
    margin: 0 6px;
    }
    .ch-grid li:nth-child(4), .ch-grid li:nth-child(3) {
    margin-top: 12px;
    }
   }
   @media (max-width: 320px){
    .ch-grid li:nth-child(4), .ch-grid li:nth-child(3),.ch-grid li:nth-child(2) {
    margin-top: 15px;
    }
   }

   /*contact*/
   .jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }

    /*footer*/
    body{
        font-family: 'Raleway', sans-serif;
      }
      
      footer{
          background-color:#222222;
          padding: 60px 0px;
      }
      
      footer ul{
          list-style:none;
          margin:0 auto;
          display:inline-block;
          padding-top:50px;
      }
      
      footer ul li{
          float:left;
      }
      
      footer ul li a{
          color:#b1aca1;
          padding:20px;
      }
      
      footer ul li a:hover{
          color:#7dabdb;
          text-decoration:none;
      }
      
      .footer-top{
          padding-bottom:50px;
      }
      
      .footer-top .fa{
          font-size:18px;
          color: #FFF;
          padding-right:10px;
      }
      
      .footer-top a{
          color:#FFF;
          text-decoration:none;
      }
      
      .footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
          color:#7dabdb;
      }
      
      .copyright{
          background-color:#f0f0f0;
      }
      
      .copyright p{
          font-size:12px;
          padding:15px 0 10px 0;
      }
      
       