.flex-container{
    display: flex;
    height: 600px;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;

}

#skillsRow {
	padding-bottom: 5rem;
}




